.toolbars {
    -fx-background-color: #b3daff;
}
.buttons {
	-fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: 50;
  -fx-background-radius: 50px;
  width: 100px;
	height: 100px;
}
#btnAll {
	-fx-background-image: url('../img/Arrow-down-icon.png');
}
#btnKonst {
	-fx-background-image: url('../img/Bank-icon.png');
}
#btnGos {
	-fx-background-image: url('../img/User-icon.png');
}
#btnCorr {
	-fx-background-image: url('../img/dollar-icon.png');
}
#btnOther {
	-fx-background-image: url('../img/Files-2-icon.png');
}
#btnMix {
	-fx-background-image: url('../img/Arrow-reload-4-icon.png');
}
#btnPrev {
	-fx-background-image: url('../img/Arrow-previous-3-icon.png');
}
#btnNext {
	-fx-background-image: url('../img/Arrow-next-3-icon.png');
}
#btnSearch {
	-fx-background-image: url('../img/Zoom-icon.png');
}
#btnGo {
	-fx-background-image: url('../img/Arrow-next-icon.png');
}
#btnAccept {
	-fx-background-image: url('../img/Check-3-icon.png');
}
#btnCancel {
	-fx-background-image: url('../img/Button-7-close-icon.png');
}
#btnAc {
		-fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: 50;
  -fx-background-radius: 50px;
  width: 100px;
	height: 100px;
	-fx-background-image: url('../img/Pencil-icon.png');
}
#btnEdit {
	-fx-background-image: url('../img/Pencil-icon.png');
}
#btnFacebook {
	-fx-background-image: url('../img/facebook.png');
}
#btnGithub {
	-fx-background-image: url('../img/github.png');
}
#btnTwitter {
	-fx-background-image: url('../img/twitter.png');
}
#btnVk {
	-fx-background-image: url('../img/vk.png');
}
#btnGoogle {
	-fx-background-image: url('../img/googleplus.png');
}
#menu {
    -fx-background-color: #a3b6d1;
}
.menu-bar { -fx-background-color: #a3b6d1; }
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #a3b6d1;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}
.menu-item .label {
    -fx-text-fill: white;
}
.menu:showing {
    -fx-background-color: #ffcc00;
 }
.menu:showing .label { -fx-text-fill: black; }
.menu:focused { -fx-background-color: #ffcc00; }
.menu .label { -fx-text-fill: black;}

.menu-item:focused {
     -fx-background-color: #ffcc00;
}

.tab-pane
{
-fx-skin: "com.sun.javafx.scene.control.skin.TabPaneSkin";
/* -fx-tab-min-width: 4.583em;  55 */
/* -fx-tab-max-width: 4.583em; 55 */
-fx-tab-min-height: 2em; /* 24 */
-fx-tab-max-height: 2em; /* 24 */

}
.tab {
-fx-background-color: #ffcc00;
}
.tab:selected
{
   -fx-background-color: #fa8605;

}
.tab-pane *.tab-header-background
{
-fx-background-color: #a3b6d1;
-fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}